In [1]:
import pandas as pd

# We analyzed the player_combined.csv file generated in the data cleanup & merge workbook, and merged it with the team_season.txt file (which we verified was clean in the prior notebook as well).

In [2]:
df = pd.read_csv("cleaned datasets/player_combined.csv")
df

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes,pts,oreb,...,firstname_y,lastname_y,position,firstseason,lastseason,college,has_na_not_college,height,bmi,starting_age_nearest
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,12,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
1,abdelal01,1992,alaa,abdelnaby,BOS,N,63,1152,514,114,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
2,abdelal01,1991,alaa,abdelnaby,POR,N,71,934,432,81,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
3,abdelal01,1994,alaa,abdelnaby,PHI,N,3,30,2,3,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
4,abdelal01,1994,alaa,abdelnaby,SAC,N,51,476,254,34,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,zidekge01,1997,george,zidek,DEN,N,6,42,18,4,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20169,zidekge01,1997,george,zidek,TOT,N,12,64,29,4,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20170,zidekge01,1997,george,zidek,SEA,N,6,22,11,0,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20171,zidekge01,1996,george,zidek,DEN,N,16,88,52,10,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20172,zoetji01,1982,jim,zoet,DET,N,7,30,2,3,...,jim,zoet,c,1982,1982,kent state,False,85.0,23.352249,28

In [3]:
df2 = pd.read_csv("cleaned datasets/original datasets.txt/team_season.txt")
df2

,team,year,leag,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,...,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace,won,lost
0,BOS,1946,N,1397,5133,811,1375,0,0,0,...,0,0,0,0,0,0,3900,0.000000,22,38
1,CH1,1946,N,1879,6309,939,1550,0,0,0,...,0,0,0,0,0,0,4471,0.000000,39,22
2,CL1,1946,N,1674,5699,903,1428,0,0,0,...,0,0,0,0,0,0,4308,0.000000,30,30
3,DE1,1946,N,1437,5843,923,1494,0,0,0,...,0,0,0,0,0,0,3918,0.000000,20,40
4,NYK,1946,N,1465,5255,951,1438,0,0,0,...,0,0,0,0,0,0,3840,0.000000,33,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,SAS,2004,N,2923,6450,1535,2120,987,2489,3476,...,1891,594,1246,421,323,881,7248,91.455696,59,23
1183,SEA,2004,N,2882,6498,1683,2131,1041,2311,3352,...,1948,508,1127,390,470,1317,7925,91.244949,52,30
1184,TOR,2004,N,2952,6656,1626,2101,844,2444,3288,...,1795,507,1188,360,435,1222,8311,95.012611,33,49
1185,UTA,2004,N,2828,6301,1719,2272,1047,2243,3290,...,2057,646,1213,474,486,1297,7975,91.195145,26,56
1186,WAS,2004,N,2966,6794,1795,2476,1133,2374,3507,...,1994,586,1276,412,521,1432,8268,96.008492,45,37

In [4]:
playerstats = df#[(df.year == 2004)]
teamstats = df2#[(df2.year == 2004)]
playerstats.shape, teamstats.shape
playerstats

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes,pts,oreb,...,firstname_y,lastname_y,position,firstseason,lastseason,college,has_na_not_college,height,bmi,starting_age_nearest
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,12,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
1,abdelal01,1992,alaa,abdelnaby,BOS,N,63,1152,514,114,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
2,abdelal01,1991,alaa,abdelnaby,POR,N,71,934,432,81,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
3,abdelal01,1994,alaa,abdelnaby,PHI,N,3,30,2,3,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
4,abdelal01,1994,alaa,abdelnaby,SAC,N,51,476,254,34,...,alaa,abdelnaby,f,1990,1994,duke,False,82.0,25.092207,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,zidekge01,1997,george,zidek,DEN,N,6,42,18,4,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20169,zidekge01,1997,george,zidek,TOT,N,12,64,29,4,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20170,zidekge01,1997,george,zidek,SEA,N,6,22,11,0,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20171,zidekge01,1996,george,zidek,DEN,N,16,88,52,10,...,george,zidek,c,1995,1997,ucla,False,84.0,24.907880,21
20172,zoetji01,1982,jim,zoet,DET,N,7,30,2,3,...,jim,zoet,c,1982,1982,kent state,False,85.0,23.352249,28

Combine the playerstats and teamstats dataframes.

In [5]:
combine = pd.merge(playerstats, teamstats, how="inner", on=["team", "year", "leag"])
combine.sort_values('ilkid')

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes,pts,oreb,...,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace,won,lost
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,12,...,1738,690,1273,414,231,0,8618,98.485115,32,50
103,abdelal01,1990,alaa,abdelnaby,POR,N,5,13,4,1,...,2075,630,1397,352,236,0,8695,104.048550,63,19
104,abdelal01,1990,alaa,abdelnaby,POR,N,43,290,135,27,...,2075,630,1397,352,236,0,8695,104.048550,63,19
127,abdelal01,1992,alaa,abdelnaby,MIL,N,12,159,64,12,...,1810,773,1476,456,269,0,8698,98.362305,28,54
44,abdelal01,1991,alaa,abdelnaby,POR,N,8,25,12,0,...,1957,688,1369,433,244,0,8539,102.340810,57,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1911,zidekge01,1995,george,zidek,CHA,N,71,888,281,69,...,1829,536,1215,368,530,0,8478,94.152916,41,41
3002,zidekge01,1997,george,zidek,DEN,N,6,42,18,4,...,1782,662,1243,535,419,0,8266,91.902451,11,71
2056,zidekge01,1996,george,zidek,CHA,N,36,288,91,25,...,1781,532,1143,335,487,0,7955,90.904984,54,28
6220,zidekge01,1997,george,zidek,SEA,N,6,22,11,0,...,1824,640,1394,403,417,0,7658,92.013176,61,21
12723,zoetji01,1982,jim,zoet,DET,N,7,30,2,3,...,2326,761,1580,561,21,0,9272,108.697680,37,45

In [6]:
combine[combine.isnull().any(axis=1)]

Empty DataFrame
Columns: [ilkid, year, firstname_x, lastname_x, team, leag, gp, minutes, pts, oreb, dreb, reb, asts, stl, blk, turnover, pf, fga, fgm, fta, ftm, tpa, tpm, source, firstname_y, lastname_y, position, firstseason, lastseason, college, has_na_not_college, height, bmi, starting_age_nearest, o_fgm, o_fga, o_ftm, o_fta, o_oreb, o_dreb, o_reb, o_asts, o_pf, o_stl, o_to, o_blk, o_3pm, o_3pa, o_pts, d_fgm, d_fga, d_ftm, d_fta, d_oreb, d_dreb, d_reb, d_asts, d_pf, d_stl, d_to, d_blk, d_3pm, d_3pa, d_pts, pace, won, lost]
Index: []

[0 rows x 67 columns]

In [7]:
dff = combine.groupby(["team"]).minutes.sum().reset_index()
dff.head()

  team  minutes
0  ATL   673039
1  BAL    41974
2  BOS   715458
3  BUF   124635
4  CAP    21463

In [8]:
totalstats = pd.merge(combine, dff, how="left", on="team")
totalstats.rename(columns={'minutes_y':'tm_mp'}, inplace=True)
totalstats.head()

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,oreb,...,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace,won,lost,tm_mp
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,12,...,690,1273,414,231,0,8618,98.485115,32,50,715458
1,brownde01,1993,dee,brown,BOS,N,77,2867,1192,63,...,690,1273,414,231,0,8618,98.485115,32,50,715458
2,corchch01,1993,chris,corchiani,BOS,N,51,467,117,8,...,690,1273,414,231,0,8618,98.485115,32,50,715458
3,douglsh01,1993,sherman,douglas,BOS,N,78,2789,1040,70,...,690,1273,414,231,0,8618,98.485115,32,50,715458
4,earlac01,1993,acie,earl,BOS,N,74,1149,410,85,...,690,1273,414,231,0,8618,98.485115,32,50,715458

In [9]:
drop = ['pace','won','lost','oreb','dreb','pf','tpa','tpm','o_3pm','o_3pa','d_oreb','d_dreb']
stat = totalstats.drop(columns=drop)
stat.head()

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,reb,...,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,46,...,3639,2089,1738,690,1273,414,231,0,8618,715458
1,brownde01,1993,dee,brown,BOS,N,77,2867,1192,300,...,3639,2089,1738,690,1273,414,231,0,8618,715458
2,corchch01,1993,chris,corchiani,BOS,N,51,467,117,44,...,3639,2089,1738,690,1273,414,231,0,8618,715458
3,douglsh01,1993,sherman,douglas,BOS,N,78,2789,1040,193,...,3639,2089,1738,690,1273,414,231,0,8618,715458
4,earlac01,1993,acie,earl,BOS,N,74,1149,410,247,...,3639,2089,1738,690,1273,414,231,0,8618,715458

# We created a version of our stat dataframe with normalized columns.

In [10]:
stat_norm = stat.copy()
columns_to_normalize = ['fga', 'fta', 'turnover',
                        'tm_mp', 'minutes_x', 'o_fga',
                        'd_fga', 'o_fta', 'd_fta',
                        'o_to', 'd_to', 'pts', 'reb',
                        'asts', 'stl', 'blk', 'fgm',
                        'ftm']
for column in columns_to_normalize:
    stat_norm.loc[:, column] -= stat_norm[column].min()
    stat_norm.loc[:, column] /= stat_norm[column].max()

# We calculated Usage as well as Player Efficiency Rating (PER) for each player, although we did not "use" Usage in our analysis later on.

In [11]:
def usage(stat):
    return 100 * (((stat.fga+.44*stat.fta+stat.turnover)*(stat.tm_mp/5))
                  /(stat.minutes_x*((stat.o_fga+stat.d_fga)+
                                    .44*(stat.o_fta+stat.d_fta)+
                                    (stat.o_to+stat.d_to))))

def efficiency(stat, is_cumulative):
    eff = (stat.pts + stat.reb + stat.asts + stat.stl + stat.blk -
           (stat.fga-stat.fgm) - (stat.fta-stat.ftm) - stat.turnover)
    if is_cumulative:
        return eff
    else:
        return eff/stat.gp

In [12]:
stat['usage'] = usage(stat)
stat.sort_values('usage')

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,reb,...,d_asts,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage
7896,stewami01,2003,michael,stewart,BOS,N,1,2,0,0,...,1882,1819,719,1334,407,555,1534,7930,715458,0.000000
9230,johnser02,1989,eric,johnson,UTA,N,1,3,0,0,...,1885,1910,736,1241,452,174,0,8367,553346,0.000000
1101,sichtje01,1980,jerry,sichting,IND,N,1,1,0,0,...,2113,2064,695,1655,439,41,0,8712,703338,0.000000
16338,knightr01,2000,travis,knight,NYK,N,1,1,0,0,...,1573,1754,596,1147,338,445,1266,7059,703203,0.000000
18296,higgiro01,1984,rod,higgins,CHI,N,1,1,0,0,...,2045,2040,668,1323,447,91,0,8985,702085,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2884,mccarke01,1998,kelly,mccarty,DEN,N,2,4,4,3,...,1175,1103,396,701,274,237,0,5004,677919,1596.131062
14584,muresgh01,1998,gheorghe,muresan,NJN,N,1,1,0,0,...,968,1084,395,813,326,223,0,4758,569315,2106.124729
8994,baileja01,1982,james,bailey,NJN,N,6,50,20,6,...,1978,2129,860,1871,495,45,0,8445,569315,2390.173018
12906,croshau01,1998,austin,croshere,IND,N,1,1,2,1,...,955,1127,357,652,238,206,0,4546,703338,2597.229361
5895,nevitch01,1993,chuck,nevitt,SAS,N,1,1,3,1,...,1769,1791,632,1020,346,290,0,7771,667958,2769.614614

In [13]:
stat_norm['usage'] = usage(stat_norm)
stat_norm.sort_values('usage')

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,reb,...,d_asts,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage
12575,evansbr01,1997,brian,evans,NJN,N,3,0.000811,0.000000,0.000636,...,1771,2023,616,0.748485,515,356,0,8041,0.773093,0.0
16827,rayja01,1981,jamesearl,ray,DEN,N,1,0.000270,0.000000,0.000000,...,2516,2453,749,0.745455,569,64,0,10328,0.920818,0.0
16275,ellisle02,1991,leron,ellis,LAC,N,1,0.000270,0.000000,0.000000,...,1784,1870,705,0.705051,432,224,0,8352,0.558610,0.0
10283,jonesch01,1996,charles,jones,HOU,N,1,0.000270,0.000000,0.000000,...,1835,1735,731,0.591919,365,519,0,7881,0.940773,0.0
18750,willike03,1990,kenny,williams,IND,N,2,0.000270,0.000658,0.000000,...,2063,2037,729,0.636364,353,186,0,9191,0.955393,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18606,johnsst03,1975,stew,johnson,SDS,A,20,0.094401,0.046366,0.030534,...,255,273,0,0.000000,0,12,0,1138,0.000000,NaN
18607,mcfarpa01,1975,pat,mcfarland,SDS,A,11,0.074114,0.043407,0.027990,...,255,273,0,0.000000,0,12,0,1138,0.000000,NaN
18608,warrebo01,1975,bobby,warren,SDS,A,10,0.071409,0.033213,0.037532,...,255,273,0,0.000000,0,12,0,1138,0.000000,NaN
18713,worthsa01,1980,sam,worthen,CHI,N,1,0.000000,0.000000,0.000000,...,1950,2135,784,0.758586,441,52,0,8775,0.953689,NaN
19022,santida01,2003,dan,santiago,MIL,N,1,0.000000,0.000000,0.000000,...,1870,1877,615,0.563131,405,456,1296,7952,0.940161,NaN

In [14]:
stat['cumulative_efficiency'] = efficiency(stat, True)
stat['players_efficiency'] = efficiency(stat, False)
stat

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,reb,...,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage,cumulative_efficiency,players_efficiency
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,159,64,46,...,690,1273,414,231,0,8618,715458,404.563961,61.0,4.692308
1,brownde01,1993,dee,brown,BOS,N,77,2867,1192,300,...,690,1273,414,231,0,8618,715458,336.105348,1348.0,17.506494
2,corchch01,1993,chris,corchiani,BOS,N,51,467,117,44,...,690,1273,414,231,0,8618,715458,246.807709,167.0,3.274510
3,douglsh01,1993,sherman,douglas,BOS,N,78,2789,1040,193,...,690,1273,414,231,0,8618,715458,353.863850,1190.0,15.256410
4,earlac01,1993,acie,earl,BOS,N,74,1149,410,247,...,690,1273,414,231,0,8618,715458,346.966189,401.0,5.418919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19079,newlimi01,1972,mike,newlin,HOU,N,82,2658,1395,340,...,0,0,0,0,0,9392,692590,389.195087,1430.0,17.439024
19080,smithdo01,1972,don,smith,HOU,N,48,900,417,304,...,0,0,0,0,0,9392,692590,374.875339,505.0,10.520833
19081,smithgr01,1972,greg,smith,HOU,N,4,41,10,8,...,0,0,0,0,0,9392,692590,295.024499,12.0,3.000000
19082,tomjaru01,1972,rudy,tomjanovich,HOU,N,81,2972,1560,938,...,0,0,0,0,0,9392,692590,386.241866,1875.0,23.148148
19083,walkeji01,1972,jimmy,walker,HOU,N,81,3079,1454,268,...,0,0,0,0,0,9392,692590,349.257888,1436.0,17.728395

In [15]:
stat_norm['cumulative_efficiency'] = efficiency(stat_norm, True)
stat_norm['players_efficiency'] = efficiency(stat_norm, False)
stat_norm

,ilkid,year,firstname_x,lastname_x,team,leag,gp,minutes_x,pts,reb,...,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage,cumulative_efficiency,players_efficiency
0,abdelal01,1993,alaa,abdelnaby,BOS,N,13,0.042737,0.021046,0.029262,...,690,0.642929,414,231,0,8618,0.971879,10.062466,0.015294,0.001176
1,brownde01,1993,dee,brown,BOS,N,77,0.775223,0.391976,0.190840,...,690,0.642929,414,231,0,8618,0.971879,6.179839,1.109292,0.014406
2,corchch01,1993,chris,corchiani,BOS,N,51,0.126048,0.038474,0.027990,...,690,0.642929,414,231,0,8618,0.971879,6.692595,0.104119,0.002042
3,douglsh01,1993,sherman,douglas,BOS,N,78,0.754125,0.341993,0.122774,...,690,0.642929,414,231,0,8618,0.971879,8.129378,0.677283,0.008683
4,earlac01,1993,acie,earl,BOS,N,74,0.310522,0.134824,0.157125,...,690,0.642929,414,231,0,8618,0.971879,7.422238,0.251173,0.003394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19079,newlimi01,1972,mike,newlin,HOU,N,82,0.718691,0.458731,0.216285,...,0,0.000000,0,0,0,9392,0.940773,7.393086,0.976849,0.011913
19080,smithdo01,1972,don,smith,HOU,N,48,0.243170,0.137126,0.193384,...,0,0.000000,0,0,0,9392,0.940773,7.471493,0.318103,0.006627
19081,smithgr01,1972,greg,smith,HOU,N,4,0.010820,0.003288,0.005089,...,0,0.000000,0,0,0,9392,0.940773,4.938574,0.010046,0.002511
19082,tomjaru01,1972,rudy,tomjanovich,HOU,N,81,0.803625,0.512989,0.596692,...,0,0.000000,0,0,0,9392,0.940773,7.149979,1.188421,0.014672
19083,walkeji01,1972,jimmy,walker,HOU,N,81,0.832567,0.478132,0.170483,...,0,0.000000,0,0,0,9392,0.940773,6.373708,0.994884,0.012283

In [16]:
stat.describe()

,year,gp,minutes_x,pts,reb,asts,stl,blk,turnover,fga,...,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage,cumulative_efficiency,players_efficiency
count,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,...,19084.000000,19084.00000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,1989.000996,39.086250,943.154894,404.213739,171.552819,92.885611,30.737581,18.811518,56.016768,336.650126,...,622.551090,1227.78799,377.721023,222.201058,252.310889,8345.625760,575611.506393,279.641620,456.098879,9.731376
std,9.780864,30.697837,957.122108,484.039945,212.381035,131.868943,39.292504,35.448109,69.393609,390.958826,...,209.289259,428.45229,133.196106,173.331518,492.461801,962.927633,193358.697117,141.679270,531.061617,7.163670
min,1971.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,1138.000000,955.000000,0.000000,-169.000000,-28.166667
25%,1981.000000,8.000000,129.000000,44.000000,19.000000,8.000000,2.000000,1.000000,3.000000,40.000000,...,612.000000,1176.00000,353.000000,63.000000,0.000000,7954.000000,514667.000000,191.241016,48.750000,4.000000
50%,1990.000000,33.000000,541.000000,192.000000,85.000000,38.000000,13.000000,5.000000,24.000000,168.000000,...,668.000000,1298.00000,406.000000,191.000000,0.000000,8512.000000,677919.000000,281.749964,224.000000,8.277778
75%,1997.000000,73.000000,1643.000000,616.000000,249.000000,126.000000,48.000000,20.000000,90.000000,523.000000,...,731.000000,1467.00000,452.000000,399.000000,0.000000,8919.000000,697389.000000,363.189068,728.000000,14.330285
max,2004.000000,90.000000,3698.000000,3041.000000,1572.000000,1164.000000,346.000000,456.000000,422.000000,2305.000000,...,955.000000,1980.00000,654.000000,613.000000,1560.000000,10723.000000,736132.000000,2769.614614,3525.000000,47.000000

In [17]:
stat_norm.describe()

,year,gp,minutes_x,pts,reb,asts,stl,blk,turnover,fga,...,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,tm_mp,usage,cumulative_efficiency,players_efficiency
count,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,...,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000,1.903400e+04,19084.000000,19084.000000
mean,1989.000996,39.086250,0.254843,0.132921,0.109130,0.079799,0.088837,0.041253,0.132741,0.146052,...,622.551090,0.620095,377.721023,222.201058,252.310889,8345.625760,0.781657,inf,0.295201,0.006280
std,9.780864,30.697837,0.258892,0.159171,0.135102,0.113289,0.113562,0.077737,0.164440,0.169613,...,209.289259,0.216390,133.196106,173.331518,492.461801,962.927633,0.263010,NaN,0.352707,0.004919
min,1971.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1138.000000,0.000000,0.000000e+00,-0.432742,-0.072124
25%,1981.000000,8.000000,0.034623,0.014469,0.012087,0.006873,0.005780,0.002193,0.007109,0.017354,...,612.000000,0.593939,353.000000,63.000000,0.000000,7954.000000,0.698760,3.769601e+00,0.029862,0.002508
50%,1990.000000,33.000000,0.146064,0.063137,0.054071,0.032646,0.037572,0.010965,0.056872,0.072885,...,668.000000,0.655556,406.000000,191.000000,0.000000,8512.000000,0.920818,5.715650e+00,0.141426,0.005359
75%,1997.000000,73.000000,0.444144,0.202565,0.158397,0.108247,0.138728,0.043860,0.213270,0.226898,...,731.000000,0.740909,452.000000,399.000000,0.000000,8919.000000,0.947301,7.516081e+00,0.468086,0.009218
max,2004.000000,90.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,955.000000,1.000000,654.000000,613.000000,1560.000000,10723.000000,1.000000,inf,2.989080,0.036452

# We looked at outliers using both the standard PER metric and the one with normalized components, and check to see the extent of overlap. There was about 10% overlap.

In [18]:
def get_outliers(stat, variable, threshold=1):
    mean = stat[variable].mean()
#     std = stat[variable].std()
    mean_abs_diff = (stat[variable] - mean).abs().mean() # more robust
    outlier = []
    for x in stat[variable]:
        z = (x - mean) / mean_abs_diff
        if abs(z) > threshold:
            outlier.append(x)
    return stat.loc[stat[variable].abs().isin(outlier)]

In [19]:
unnorm_outliers = get_outliers(stat, "players_efficiency")
norm_outliers = get_outliers(stat_norm, "players_efficiency")

df = pd.merge(unnorm_outliers, norm_outliers, how='inner', on=['ilkid'])

In [20]:
both_lists = (df['firstname_x_x']+' '+df['lastname_x_x']+', aka '+df['firstname_y_y']+' '+df['lastname_y_y']).unique()
both_lists.sort()
for p in both_lists:
    print(p)

a.c. green, aka a.c. green
a.j. bramlett, aka a.j. bramlett
a.j. guyton, aka a.j. guyton
a.j. wydner, aka a.j. wydner
aaron mckie, aka aaron mckie
aaron swinson, aka aaron swinson
aaron williams, aka aaron williams
acie earl, aka acie earl
adam harrington, aka adam harrington
adam keefe, aka adam keefe
adonis jordan, aka adonis jordan
adrian branch, aka adrian branch
adrian caldwell, aka adrian caldwell
adrian dantley, aka adrian dantley
adrian griffin, aka adrian griffin
adrian smith, aka adrian smith
al fleming, aka al fleming
al harrington, aka al harrington
alaa abdelnaby, aka alaa abdelnaby
alan hardy, aka alan hardy
alan henderson, aka alan henderson
alan ogg, aka alan ogg
albert king, aka albert king
alec kessler, aka alec kessler
alek radojevic, aka alex radojevic
aleksandar pavlovic, aka aleksandar pavlovic
aleksi djordjevic, aka aleksi djordjevic
alex blackwell, aka alex blackwell
alex bradley, aka alex bradley
alex english, aka alex english
alex garcia, aka alex garcia
alex radojevic, aka alex radojevic
alex stivrins, aka alex stivrins
alfredrick hughes, aka alfredrick hughes
allen iverson, aka allen iverson
allen leavell, aka allen leavell
allen murphy, aka allen murphy
allie mcguire, aka allie mcguire
alonzo bradley, aka alonzo bradley
alonzo mourning, aka alonzo mourning
alphonso ford, aka alphonso ford
alton ford, aka alton ford
alton lister, aka alton lister
alvan adams, aka alvan adams
alvin heggs, aka alvin heggs
alvin jones, aka alvin jones
alvin robertson, aka alvin robertson
alvin scott, aka alvin scott
alvin williams, aka alvin williams
amal mccaskill, aka amal mccaskill
amare stoudemire, aka amare stoudemire
andrae patterson, aka andrae patterson
andre barrett, aka andre barrett
andre mccarter, aka andre mccarter
andre miller, aka andre miller
andre moore, aka andre moore
andre spencer, aka andre spencer
andre turner, aka andre turner
andre wakefield, aka andre wakefield
andrei kirilenko, aka andrei kirilenko
andres guibert, aka andres guibert
andrew declercq, aka andrew declercq
andrew gaze, aka andrew gaze
andrew lang, aka andrew lang
andrew toney, aka andrew toney
andy panko, aka andy panko
andy toolson, aka andy toolson
anfernee hardaway, aka anfernee hardaway
ansley truitt, aka ansley truitt
ansu sesay, aka ansu sesay
antawn jamison, aka antawn jamison
anthony avent, aka anthony avent
anthony bonner, aka anthony bonner
anthony bowie, aka anthony bowie
anthony carter, aka anthony carter
anthony cook, aka anthony cook
anthony frederick, aka anthony frederick
anthony goldwire, aka anthony goldwire
anthony johnson, aka anthony johnson
anthony jones, aka anthony jones
anthony mason, aka anthony mason
anthony miller, aka anthony miller
anthony parker, aka anthony parker
anthony peeler, aka anthony peeler
anthony pullard, aka anthony pullard
anthony roberts, aka anthony roberts
antoine carr, aka antoine carr
antoine rigaudeau, aka antoine rigaudeau
antoine walker, aka antoine walker
antonio burks, aka antonio burks
antonio daniels, aka antonio daniels
antonio davis, aka antonio davis
antonio harvey, aka antonio harvey
antonio lang, aka antonio lang
antonio mcdyess, aka antonio mcdyess
archie clark, aka archie clark
armen gilliam, aka armen gilliam
armond hill, aka armond hill
art becker, aka art becker
art collins, aka art collins
art harris, aka art harris
art long, aka art long
artis gilmore, aka artis gilmore
arvesta kelly, aka arvesta kelly
arvid kramer, aka arvid kramer
arvydas sabonis, aka arvydas sabonis
ashraf amaya, aka ashraf amaya
askia jones, aka askia jones
audie norris, aka audie norris
austin carr, aka austin carr
austin croshere, aka austin croshere
avery johnson, aka avery johnson
awvee storey, aka awvee storey
b.j. armstrong, aka b.j. armstrong
baron davis, aka baron davis
barry nelson, aka barry nelson
barry parkhill, aka barry parkhill
barry stevens, aka barry stevens
barry yates, aka barry yates
bart kofoed, aka bart kofoed
bayard forrest, aka bayard forrest
ben coleman, aka ben coleman
ben davis, aka ben davis
ben gillery, aka ben gillery
ben kelso, aka ben kelso
ben mcdonald, aka ben mcdonald
ben poquette, aka ben poquette
ben wallace, aka ben wallace
beno udrih, aka beno udrih
benoit benjamin, aka benoit benjamin
bernard king, aka bernard king
bernard robinson jr., aka bernard robinson jr.
bernard thompson, aka bernard thompson
bernard toone, aka bernard toone
bernie harris, aka bernie harris
bernie williams, aka bernie williams
bill bradley, aka bill bradley
bill bridges, aka bill bridges
bill bunting, aka bill bunting
bill cartwright, aka bill cartwright
bill curley, aka bill curley
bill dinwiddie, aka bill dinwiddie
bill edwards, aka bill edwards
bill hanzlik, aka bill hanzlik
bill laimbeer, aka bill laimbeer
bill ligon, aka bill ligon
bill martin, aka bill martin
bill mayfield, aka bill mayfield
bill melchionni, aka bill melchionni
bill newton, aka bill newton
bill robinzine, aka bill robinzine
bill smith, aka bill smith
bill turner, aka bill turner
bill walton, aka bill walton
bill wennington, aka bill wennington
bill willoughby, aka bill willoughby
billy cunningham, aka billy cunningham
billy donovan, aka billy donovan
billy knight, aka billy knight
billy mckinney, aka billy mckinney
billy owens, aka billy owens
billy paultz, aka billy paultz
billy reid, aka billy reid
billy thompson, aka billy thompson
billyray bates, aka billyray bates
bimbo coles, aka bimbo coles
bingo smith, aka bingo smith
bison dele, aka bison dele
blair rasmussen, aka blair rasmussen
blue edwards, aka blue edwards
bo ellis, aka bo ellis
bo kimble, aka bo kimble
bo lamar, aka bo lamar
bo outlaw, aka bo outlaw
bob arnzen, aka bob arnzen
bob bigelow, aka bob bigelow
bob carrington, aka bob carrington
bob christian, aka bob christian
bob dandridge, aka bob dandridge
bob davis, aka bob davis
bob ford, aka bob ford
bob gross, aka bob gross
bob hansen, aka bob hansen
bob kauffman, aka bob kauffman
bob lackey, aka bob lackey
bob lanier, aka bob lanier
bob love, aka bob love
bob mcadoo, aka bob mcadoo
bob mccann, aka bob mccann
bob nash, aka bob nash
bob netolicky, aka bob netolicky
bob portman, aka bob portman
bob rule, aka bob rule
bob sura, aka bob sura
bob thornton, aka bob thornton
bob weiss, aka bob weiss
bob wilkerson, aka bob wilkerson
bob wilson, aka bob wilson
bobby cattage, aka bobby cattage
bobby hurley, aka bobby hurley
bobby jackson, aka bobby jackson
bobby jones, aka bobby jones
bobby phills, aka bobby phills
bobby simmons, aka bobby simmons
bobby wilson, aka bobby wilson
bonzi wells, aka bonzi wells
bostjan nachbar, aka bostjan nachbar
brad daugherty, aka brad daugherty
brad davis, aka brad davis
brad holland, aka brad holland
brad lohaus, aka brad lohaus
brad miller, aka brad miller
brad sellers, aka brad sellers
brad wright, aka brad wright
brandin knight, aka brandin knight
brandon armstrong, aka brandon armstrong
brandon hunter, aka brandon hunter
brandon williams, aka brandon williams
brant weidner, aka brant weidner
brendan haywood, aka brendan haywood
brent barry, aka brent barry
brent price, aka brent price
brent scott, aka brent scott
brevin knight, aka brevin knight
brian cardinal, aka brian cardinal
brian cook, aka brian cook
brian davis, aka brian davis
brian evans, aka brian evans
brian grant, aka brian grant
brian martin, aka brian martin
brian oliver, aka brian oliver
brian quinnett, aka brian quinnett
brian rowsom, aka brian rowsom
brian scalabrine, aka brian scalabrine
brian shaw, aka brian shaw
brian skinner, aka brian skinner
brian taylor, aka brian taylor
brian winters, aka brian winters
britton johnsen, aka britton johnsen
brook steppe, aka brook steppe
brooks thompson, aka brooks thompson
bruce bowen, aka bruce bowen
bruce kuczenski, aka bruce kuczenski
bruce seals, aka bruce seals
bruno sundov, aka bruno sundov
bryan warrick, aka bryan warrick
bryant reeves, aka bryant reeves
bryant stith, aka bryant stith
bryce drew, aka bryce drew
bryon russell, aka bryon russell
bubba wells, aka bubba wells
buck johnson, aka buck johnson
buck williams, aka buck williams
butch beard, aka butch beard
butch carter, aka butch carter
butch lee, aka butch lee
byron beck, aka byron beck
byron dinkins, aka byron dinkins
byron houston, aka byron houston
byron irvin, aka byron irvin
byron scott, aka byron scott
cadillac anderson, aka cadillac anderson
cal bowdler, aka cal bowdler
calbert cheaney, aka calbert cheaney
caldwell jones, aka caldwell jones
calvin garrett, aka calvin garrett
calvin murphy, aka calvin murphy
calvin natt, aka calvin natt
campy russell, aka campy russell
carey scurry, aka carey scurry
carl henry, aka carl henry
carl herrera, aka carl herrera
carl kilpatrick, aka carl kilpatrick
carl thomas, aka carl thomas
carlos arroyo, aka carlos arroyo
carlos boozer, aka carlos boozer
carlos clark, aka carlos clark
carlos rogers, aka carlos rogers
carlos terry, aka carlos terry
carlton mckinney, aka carlton mckinney
caron butler, aka caron butler
casey jacobsen, aka casey jacobsen
cazzie russell, aka cazzie russell
cedric ball, aka cedric ball
cedric ceballos, aka cedric ceballos
cedric henderson, aka cedric henderson
cedric hunter, aka cedric hunter
cedric lewis, aka cedric lewis
cedric maxwell, aka cedric maxwell
cezary trybanski, aka cezary trybanski
chad gallagher, aka chad gallagher
chad kinch, aka chad kinch
charles barkley, aka charles barkley
charles bradley, aka charles bradley
charles dudley, aka charles dudley
charles jones, aka charles jones
charles jordan, aka charles jordan
charles kupec, aka charles kupec
charles o'bannon, aka charles o'bannon
charles oakley, aka charles oakley
charles outlaw, aka bo outlaw
charles smith, aka charles smith
charles thomas, aka charles thomas
charles whitney, aka charles whitney
charlie davis, aka charlie davis
charlie edge, aka charlie edge
charlie johnson, aka charlie johnson
charlie paulk, aka charlie paulk
charlie pittman, aka charlie pittman
charlie scott, aka charlie scott
charlie sitton, aka charlie sitton
charlie ward, aka charlie ward
charlie williams, aka charlie williams
chauncey billups, aka chauncey billups
cherokee parks, aka cherokee parks
chet walker, aka chet walker
chris bosh, aka chris bosh
chris carr, aka chris carr
chris childs, aka chris childs
chris corchiani, aka chris corchiani
chris crawford, aka chris crawford
chris dudley, aka chris dudley
chris engler, aka chris engler
chris garner, aka chris garner
chris gatling, aka chris gatling
chris herren, aka chris herren
chris jefferies, aka chris jefferies
chris jent, aka chris jent
chris king, aka chris king
chris mills, aka chris mills
chris morris, aka chris morris
chris mullin, aka chris mullin
chris munk, aka chris munk
chris owens, aka chris owens
chris robinson, aka chris robinson
chris washburn, aka chris washburn
chris webber, aka chris webber
chris welp, aka chris welp
chris whitney, aka chris whitney
christian laettner, aka christian laettner
chuck lowery, aka chuck lowery
chuck nevitt, aka chuck nevitt
chuck person, aka chuck person
chuck terry, aka chuck terry
chuck williams, aka chuck williams
chucky brown, aka chucky brown
cincy powell, aka cincy powell
clarence glover, aka clarence glover
clarence kea, aka clarence kea
clarence weatherspoon, aka clarence weatherspoon
clark kellogg, aka clark kellogg
claude gregory, aka claude gregory
claude terry, aka claude terry
clay johnson, aka clay johnson
clem haskins, aka clem haskins
clemon johnson, aka clemon johnson
cliff levingston, aka cliff levingston
cliff robinson, aka cliff robinson
clifford lett, aka clifford lett
clifford ray, aka clifford ray
clifford robinson, aka clifford robinson
clint mcdaniel, aka clint mcdaniel
clint richardson, aka clint richardson
clinton smith, aka clinton smith
clinton wheeler, aka clinton wheeler
clyde dickey, aka clyde dickey
clyde drexler, aka clyde drexler
clyde lee, aka clyde lee
clyde mayes, aka clyde mayes
coby dietrick, aka coby dietrick
collis temple, aka collis temple
conner henry, aka conner henry
connie hawkins, aka connie hawkins
connie norman, aka connie norman
corey beck, aka corey beck
corey benjamin, aka corey benjamin
corey crowder, aka corey crowder
corey gaines, aka corey gaines
corey williams, aka corey williams
corie blount, aka corie blount
corky calhoun, aka corky calhoun
corliss williamson, aka corliss williamson
cornell warner, aka cornell warner
corny thompson, aka corny thompson
cory alexander, aka cory alexander
cory blackwell, aka cory blackwell
cory carr, aka cory carr
courtney alexander, aka courtney alexander
craig dykema, aka craig dykema
craig ehlo, aka craig ehlo
craig hodges, aka craig hodges
craig neal, aka craig neal
craig shelton, aka craig shelton
cuonzo martin, aka cuonzo martin
curtis kitchen, aka curtis kitchen
curtis perry, aka curtis perry
curtis rowe, aka curtis rowe
cuttino mobley, aka cuttino mobley
d.j. mbenga, aka d.j. mbenga
dahntay jones, aka dahntay jones
dajuan wagner, aka dajuan wagner
dale davis, aka dale davis
dale ellis, aka dale ellis
dale schlueter, aka dale schlueter
dalibor bagaric, aka dalibor bagaric
damon jones, aka damon jones
damon stoudamire, aka damon stoudamire
damone brown, aka damone brown
dan dickau, aka dan dickau
dan godfread, aka dan godfread
dan issel, aka dan issel
dan langhi, aka dan langhi
dan majerle, aka dan majerle
dan mcclintock, aka dan mcclintock
dan o'sullivan, aka dan o'sullivan
dan roundfield, aka dan roundfield
dan santiago, aka dan santiago
dana barros, aka dana barros
dane suttle, aka dane suttle
daniel santiago, aka dan santiago
danny ainge, aka danny ainge
danny ferry, aka danny ferry
danny fortson, aka danny fortson
danny manning, aka danny manning
danny schayes, aka danny schayes
danny vranes, aka danny vranes
danny young, aka danny young
darel carrier, aka darel carrier
darko milicic, aka darko milicic
darnell hillman, aka darnell hillman
darnell mee, aka darnell mee
darnell valentine, aka darnell valentine
darrall imhoff, aka darrall imhoff
darrell armstrong, aka darrell armstrong
darrell griffith, aka darrell griffith
darrell walker, aka darrell walker
darren daye, aka darren daye
darren morningstar, aka darren morningstar
darrick martin, aka darrick martin
darrin hancock, aka darrin hancock
darryl dawkins, aka darryl dawkins
darryl johnson, aka darryl johnson
darvin ham, aka darvin ham
darwin cook, aka darwin cook
dave batton, aka dave batton
dave bing, aka dave bing
dave corzine, aka dave corzine
dave cowens, aka dave cowens
dave debusschere, aka dave debusschere
dave feitl, aka dave feitl
dave hoppen, aka dave hoppen
dave jamerson, aka dave jamerson
dave johnson, aka dave johnson
dave magley, aka dave magley
dave meyers, aka dave meyers
dave popson, aka dave popson
dave robisch, aka dave robisch
dave sorenson, aka dave sorenson
dave stallworth, aka dave stallworth
dave twardzik, aka dave twardzik
dave wohl, aka dave wohl
david benoit, aka david benoit
david britton, aka david britton
david burns, aka david burns
david cooke, aka david cooke
david greenwood, aka david greenwood
david pope, aka david pope
david rivers, aka david rivers
david robinson, aka david robinson
david thirdkill, aka david thirdkill
david thompson, aka david thompson
david vaughn, aka david vaughn
david wesley, aka david wesley
david wingate, aka david wingate
david wood, aka david wood
dean garrett, aka dean garrett
dean oliver, aka dean oliver
dean tolson, aka dean tolson
dee brown, aka dee brown
dejuan wheat, aka dejuan wheat
del beshore, aka del beshore
delaney rudd, aka delaney rudd
dell curry, aka dell curry
dell demps, aka dell demps
delnegro vinny, aka vinny del negro
demarco johnson, aka demarco johnson
demetrius calip, aka demetrius calip
dennis awtrey, aka dennis awtrey
dennis duval, aka dennis duval
dennis hopson, aka dennis hopson
dennis johnson, aka dennis johnson
dennis nutt, aka dennis nutt
dennis rodman, aka dennis rodman
dennis scott, aka dennis scott
dennis vanzant, aka dennis vanzant
dennis wuycik, aka dennis wuycik
derek anderson, aka derek anderson
derek fisher, aka derek fisher
derek grimm, aka derek grimm
derek harper, aka derek harper
derek smith, aka derek smith
derek strong, aka derek strong
dermarr johnson, aka dermarr johnson
derrek dickey, aka derrek dickey
derrick chievous, aka derrick chievous
derrick coleman, aka derrick coleman
derrick dial, aka derrick dial
derrick mckey, aka derrick mckey
derrick rowland, aka derrick rowland
desagana diop, aka desagana diop
deshawn stevenson, aka deshawn stevenson
desmond ferguson, aka desmond ferguson
detlef schrempf, aka detlef schrempf
devean george, aka devean george
devin brown, aka devin brown
devin durrant, aka devin durrant
devin gray, aka devin gray
devin harris, aka devin harris
dewayne scales, aka dewayne scales
dexter boney, aka dexter boney
dexter shouse, aka dexter shouse
dick barnett, aka dick barnett
dick cunningham, aka dick cunningham
dick gibbs, aka dick gibbs
dick miller, aka dick miller
dick snyder, aka dick snyder
dick vanarsdale, aka dick vanarsdale
dickey simpkins, aka dickey simpkins
dikembe mutombo, aka dikembe mutombo
dino radja, aka dino radja
dirk minniefield, aka dirk minniefield
dirk nowitzki, aka dirk nowitzki
doc rivers, aka doc rivers
dominic pressley, aka dominic pressley
dominique wilkins, aka dominique wilkins
don adams, aka don adams
don buse, aka don buse
don chaney, aka don chaney
don collins, aka don collins
don ford, aka don ford
don kojis, aka don kojis
don maclean, aka don maclean
don may, aka don may
don nelson, aka don nelson
don reid, aka don reid
don smith, aka don smith
don washington, aka don washington
donald hodge, aka donald hodge
donald royal, aka donald royal
donald whiteside, aka donald whiteside
donnell harvey, aka donnell harvey
donnie boyce, aka donnie boyce
donnie freeman, aka donnie freeman
donny marshall, aka donny marshall
dontae jones, aka dontae jones
donton wingfield, aka donton wingfield
donyell marshall, aka donyell marshall
dorie murrey, aka dorie murrey
doug christie, aka doug christie
doug collins, aka doug collins
doug edwards, aka doug edwards
doug lee, aka doug lee
doug overton, aka doug overton
doug smith, aka doug smith
doug west, aka doug west
drazen petrovic, aka drazen petrovic
drew barry, aka drew barry
drew gooden, aka drew gooden
duane causwell, aka duane causwell
duane cooper, aka duane cooper
duane ferrell, aka duane ferrell
duane schintzius, aka duane schintzius
duane washington, aka duane washington
dudley bradley, aka dudley bradley
dwayne morton, aka dwayne morton
dwayne polee, aka dwayne polee
dwight davis, aka dwight davis
dwight howard, aka dwight howard
dwight jones, aka dwight jones
dwight waller, aka dwight waller
dwyane wade, aka dwyane wade
dyron nix, aka dyron nix
e.c. coleman, aka e.c. coleman
earl boykins, aka earl boykins
earl cureton, aka earl cureton
earl monroe, aka earl monroe
earl tatum, aka earl tatum
ed gray, aka ed gray
ed manning, aka ed manning
ed nealy, aka ed nealy
ed o'bannon, aka ed o'bannon
ed pinckney, aka ed pinckney
ed rains, aka ed rains
ed ratleff, aka ed ratleff
ed searcy, aka ed searcy
ed stokes, aka ed stokes
eddie gill, aka eddie gill
eddie house, aka eddie house
eddie hughes, aka eddie hughes
eddie johnson, aka eddie johnson
eddie jones, aka eddie jones
eddie jordan, aka eddie jordan
eddie mast, aka eddie mast
eddie miles, aka eddie miles
eddie owens, aka eddie owens
eddie phillips, aka eddie phillips
eddielee wilkins, aka eddielee wilkins
edward davis, aka edward davis
efthimios rentzias, aka efthimios rentzias
elden campbell, aka elden campbell
eldo garrett, aka eldo garrett
eldridge recasner, aka eldridge recasner
elliot perry, aka elliot perry
elmore smith, aka elmore smith
elmore spencer, aka elmore spencer
elston turner, aka elston turner
elton brand, aka elton brand
elvin hayes, aka elvin hayes
emanual davis, aka emanual davis
emanuel leaks, aka emanuel leaks
emeka okafor, aka emeka okafor
emmanuel ginobili, aka emmanuel ginobili
ennis whatley, aka ennis whatley

In [21]:
len(both_lists)/len(stat)

0.10542863131418989

# We also looked at outliers for bmi and height, and checked to see the extent of overlap with PER outliers. It was about 1.5%.

In [22]:
outliers_bmi = get_outliers(stat, "bmi")
df2 = pd.merge(unnorm_outliers, outliers_bmi, how='inner', on=['ilkid'])
both_lists = (df2['firstname_x_x']+' '+df2['lastname_x_x']+', aka '+df2['firstname_y_y']+' '+df2['lastname_y_y']).unique()
len(both_lists)/len(df)

0.015542850135655054

In [23]:
outliers_bmi = get_outliers(stat_norm, "bmi")
df2 = pd.merge(norm_outliers, outliers_bmi, how='inner', on=['ilkid'])
both_lists = (df2['firstname_x_x']+' '+df2['lastname_x_x']+', aka '+df2['firstname_y_y']+' '+df2['lastname_y_y']).unique()
len(both_lists)/len(df)

0.014699796134214196

In [24]:
outliers_height = get_outliers(stat, "height")
df2 = pd.merge(unnorm_outliers, outliers_height, how='inner', on=['ilkid'])
both_lists = (df2['firstname_x_x']+' '+df2['lastname_x_x']+', aka '+df2['firstname_y_y']+' '+df2['lastname_y_y']).unique()
len(both_lists)/len(df)

0.01480709391621576

In [25]:
outliers_height = get_outliers(stat_norm, "height")
df2 = pd.merge(norm_outliers, outliers_height, how='inner', on=['ilkid'])
both_lists = (df2['firstname_x_x']+' '+df2['lastname_x_x']+', aka '+df2['firstname_y_y']+' '+df2['lastname_y_y']).unique()
len(both_lists)/len(df)

0.013994696423918209